@page "/"

<PageTitle>Cuacci Valenti</PageTitle>

<h1><span class="negrita">Aseguradora</span> 🚗</h1>

Este es el proyecto de Matias Cuacci y Valenti Lucas de .NET <br>
Cosas a tener en cuenta: <br>
<ul>
    <li>Se puede agregar una entidad en la misma pestaña donde aparecen enlistadas. En caso de haber varias scrollear para encontrar el formulario donde se rellenan los datos.</li>
</ul>